:root {
  --Primary-Gray-Medium: rgb(231, 231, 231);
  --Primary-Gray-Light: rgb(249, 249, 249);
  --Secondary-Gray-dark: whitesmoke;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin:20px 0;
}

main {
  border-radius: 10px;
  width: 50%;
  height: 100vh;
  box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.75);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ui__tipAmount--container, .ui__totalPerPerson--container, .ui__inputs--container, .ui__calculateButton--container {
  flex: 1;
}

.ui__tipPercentage--container {
  flex: .5;
}

.ui__inputs--container {
  display: flex;
}

.inputs__billAmount--container {
  flex:2;
}

.inputs__numberOfPeople--container {
  flex: 1;
}

@media only screen and (max-width: 600px){
  .App {
    margin: 0;
  }

  main{
    width: 100vw;
    box-shadow: none;
  }
}
